<!DOCTYPE html>
<html>
<head><meta http-equiv=Content-Type content="text/html; charset=UTF-8">
<title>Commission Report</title>
<link rel="stylesheet" type="text/css" href="static/css/style.css">
</head>
<body>
<div style="position:absolute;left:50%;margin-left:-400px;top:0px;width:800px;height:842px;border-style:outset;overflow:hidden">
<div style="position:absolute;left:51.00px;top:0px">
<img src="static/img/background1.png" width=800 height=842 alt="Econet logo"></div>
<div style="position:absolute;left:210.00px;top:30.15px" class="cls_002"><span class="cls_002">Summarised Stock Sales Per Shop</span></div>
<div style="position:absolute;left:210.00px;top:73.38px" class="cls_003"><span class="cls_003">Date [[${fromDate}]] - [[${toDate}]]</span></div>
<div style="position:absolute;left:51.00px;top:107.34px" class="cls_005"><span class="cls_005">Transaction Type</span></div>
<div style="position:absolute;left:246.00px;top:107.34px" class="cls_005"><span class="cls_005">Receipt Amount</span></div>
<div style="position:absolute;left:423.00px;top:107.34px" class="cls_005"><span class="cls_005">Commission Amount</span></div>
<div style="position:absolute;left:621.00px;top:107.34px" class="cls_005"><span class="cls_005">Quantity</span></div>
<div style="position:absolute;left:101.00px;top:145.24px" class="cls_011"><span class="cls_011">[[${data.getShopCommissions().get(0).getShopName()}]]</span></div>
<div style="position:absolute;left:101.00px;top:195.29px" class="cls_012"><span class="cls_012">[[${data.getShopCommissions().get(0).getShopCode()}]]</span></div>

<table style="position:absolute;left:81.00px;top:227.50px;" class="commissionTable">
<tr>
	<th>Transaction Type</th>
    <th>Receipt Amount</th>
    <th>Commission Amount</th>
    <th>Quantity</th>
</tr>
<tr th:each="commission: ${data.getShopCommissions().get(0).getCommissionInfos()}">
	<td th:text="${commission.transactionType}">transactionType</td>
    <td th:text="${#numbers.formatDecimal(commission.receiptAmount,3,2)}">receiptAmount</td>
    <td th:text="${commission.commissionAmount}">commissionAmount</td>
    <td th:text="${commission.quantity}">0</td>
</tr>
</table>


</div>

</body>
</html>
